table {
    border-collapse: collapse;
}
th {
    border: 1px solid Aqua;
    background: Aquamarine;
    color: black;
    font-weight: bold;
    text-align: center;
}
td {
    padding: 6px;
    border: 1px solid Aquamarine;
    text-align: center;
}

.watermark div {
    border: 3px solid DarkBlue;
    padding: 6px 6px 6px 6px;
}